//Variáveis

$btn-color: #ff4043;
$width-btn: 90px;

.btn1 {
    width: $width-btn;
    background-color: $btn-color;
}

.btn2 {
    width: $width-btn;
    background-color: $btn-color;
}

// ------------------

//Nesting

.classe1 {
	ul{
		background-color: red;
	}

	li{
		background-color: blue;
  }

	button{
		background-color: green;
		color: white;

		&:hover {
			background-color: red;
			transition: 1s;
		}
	}
}

// -------------------

//Herenças/extends

.btn {
	width: 145px;
	padding: 10px 0px;
	border-radius: 20px;
	display: block;
	margin: 10px;

	&.btn-roxo {
		background-color: purple;
		color: white;
	}

	&.btn-amarelo {
		background-color: yellow;
	}
}

.btn-azul {
	@extend .btn;
	background-color: rgba(21, 21, 167, 0.63);
}

// ----------------

//Mixin

@mixin texts-style($color, $font-size, $font-family) {
	color: $color;
	font-size: $font-size;
	font-family: $font-family;
}

.texts {
	h2 {
		@include texts-style(#ff4043, 34px, Arial);
	}

	p {
		@include texts-style(blue, 22px, sans-serif);
	}

}

// --------------

//Import 

// Import Colors
@import "./colors/colors.scss";

// Import Home
@import "./pages/home.scss";